body {
  background-color: #232323;
  font-family: 'Avenir', sans-serif;
  margin: 0;
}

#messageDisplay {
  color: black;
  font-size: 100%;
  font-weight: 700;
  color: orange;
  display: inline-block;
  width: 20%;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

.square {
  width: 30%;
  background: purple;
  margin: 1.66%;
  border-radius: 15%;
  float: left;
  padding-bottom: 30%;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.h1-class {
  text-align: center;
  line-height: 1.1;
  padding: 30px 0;
  background: steelblue;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

#stripe {
  background: #fff;
  height: 30px;
  text-align: center;
  margin: 0;
  font-size: 125%;
}

#displayColor {
  font-size: 200%;
}

.selected {
  color: white;
  background: steelblue;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

#info:hover,
button:hover {
  color: white;
  background: steelblue;
}

.center {
  margin-top: 50px;
}

.modal-header1 {
  padding-bottom: 5px;
}

.modal-footer1 {
  padding: 0;
}

.modal-footer1 .btn-group1 button1 {
  height: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  border-right: 1px solid #ddd;
}

.modal-footer1 .btn-group1:last-child>button1 {
  border-right: 0;
}