/*---------------------------------------------------------------------------------

   1st blue color #9CD1FF
/* 2nd Blue color #7DA7CC; */


/* first setup of a responsive project */


/* no marging and padding on any element and use the border box */


/*---------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    /* smaller screens, the overflow will be hidden */
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*---------------------------------------------------------------------------------

reusable components
/*---------------------------------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 10px 0;
}

.box {
    padding: 1%;
}


/*---------------------------------------------------------------------------------
/* HEADER /* first setup of a responsive project
/*---------------------------------------------------------------------------------*/

header {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/macbook_moleskine.jpeg);
    height: 65vh;
    background-size: cover;
    background-position: center;
}

h1 {
    color: #efefef;
    text-align: center;
    font-size: 300%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
}


/******** HERO TEXT *********/

.logo-text:link,
.logo-text:visited {
    margin-top: 30px;
    display: inline-block;
    font-size: 120%;
    text-decoration: none;
    margin-top: 30px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s
}

.logo-text:active,
.logo-text:hover {
    color: #9CD1FF;
}

.hero-text-box {
    margin-top: 100px;
}


/******** MAIN NAVIGATION MENU ********/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    display: inline-block;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding-bottom: 8px;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    border-bottom: solid 2px transparent;
    transition: border-bottom 0.3s, border 0.3s, color 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: solid 2px #9CD1FF;
}

.about-me-row {
    width: 100%;
    height: auto;
}

._60about-me-container,
._40latest-projects-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 300px;
    padding: 5px;
    float: left;
}

._60about-me-container {
    background-image: linear-gradient(rgba(52, 52, 52, 0.5), rgba(52, 52, 52, 0.5)), url(../img/LinoCatucci_cycling.jpg);
    width: 60%;
    border: solid 5px #fff;
}

._40latest-projects-container {
    background-image: url(../img/macbook-925480_960_720.jpg);
    width: 40%;
    border: solid 5px #fff;
}

.about-me-text,
.latest-projects-text {
    position: absolute;
    left: 25px;
    bottom: 24px;
    color: #fff;
    line-height: 145%;
    text-transform: uppercase;
    letter-spacing: 2px;
}